header {
    text-align: center;
}
.wrapper {
    display: flex;
    padding: 10px;
    gap: 2%;
}
.container {
    flex: 1;
    border: solid 2px lightgrey;
    border-radius: 15px;
    padding: 5px;
}
#goBusinessButton1, #goBusinessButton2 {
    font-size: 18px;
    border: outset 2px lightgrey;
    border-radius: 10px;
    font-weight: bold;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.selector {
    text-align: center;
    padding-right: 50px;
}
.selector button {
    font-size: 18px;
    border: solid 2px lightgrey;
    border-radius: 10px;
    font-weight: normal;

    padding: 7px;
    margin: 0px;
    margin-left: 15px;
}
#businessProfitText {
    color: green;
}